doctype html
html
  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    if production
      each css in stylesheets
        link(rel="stylesheet", href='/css/'+css)
    else
      link(rel="stylesheet", href="/css/master.css")
      link(rel="stylesheet", href="/css/material-ui.css")
  body
    if production
      each script in scripts
        script(src='/js/'+script)
    else
      script(src='/js/build.js')
    if production
      script
        | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        | ga('create', 'UA-23160903-4', 'auto');
        | ga('require', 'linkid', 'linkid.js');
        | ga('send', 'pageview');


