doctype html
html
  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    if production
      each css in stylesheets
        link(rel="stylesheet", href='/css/'+css)
    else
      link(rel="stylesheet", href="/css/master.css")
      link(rel="stylesheet", href="/css/material-ui.css")
  body
    if production
      each script in scripts
        script(src='/js/'+script)
    else
      script(src='/js/build.js')


